.ion-title{
    font-size: 60px;
    text-align: center;
    color:rgb(245, 241, 18);
    padding: 14px 16px;
    font-family: cursive;
} 
.ion-title{
    background-color: black;
}
.topnav {
    background-color: black;
    overflow: hidden;
}
/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color:rgb(245, 241, 18);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: cursive;
    
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color:rgb(245, 241, 18);
    color: black;
}
.img{
    background-image: url(/../assets/tea.jpg);
    height: 80%;
    background-repeat: no-repeat;
    background-position: center;
}
.img{
    background-repeat: no-repeat;
    object-fit: cover;
    height: 100%;   
}
.para{
    background-color:black;
    color:rgb(245, 241, 18);
    font-family: cursive;
}
.color{
    color:rgb(245, 241, 18);
    font-family: cursive;
}
.top{
    margin-top: 35px;
}
.top1{
    margin-top: 35px;
}
.top2{
    border-style: dashed;
}
.top3{
    border-style: dashed;
    writing-mode: horizontal-tb;
    overflow-wrap: break-word;
}
.top4{
    color:black;
    
}

.ion-toolbar{
    overflow: hidden;
    text-align: right;
}
.ion-toolbar a:link {
    padding: 24.5px 16px;
    text-decoration: none;
    font-size: 18px; 
}

.ion-toolbar a:hover{
    background-color: rgb(245, 241, 18);
}
.widget {
    background-color:rgb(245, 241, 18);
}






/* Add a color to the active/current link */




.pad{
    background-color: black;    
}











