<ion-content>
  <ion-header class="ion-no-border">
  </ion-header>
  <ion-title class="ion-title">CAPTAIN CHAI</ion-title>
    <div class="topnav">
      <a class="active" href="./home">Home</a>
      <a href="./about">About Us</a>
      <a href="./quality">Quality</a>
      <a href="./media">Media</a>
      <a href="./branches">Branches</a>
      <a href="./franchise">Franchise</a>
      <a href="./contact">Contact Us</a>
      <a href="./language">Language</a>
    </div>
  <ion-img class="img"></ion-img>
  <form>
    <ion-grid class="para">
      <ion-row>
        <ion-col size="3">
          <ion-item color="dark">
            <ion-text class="color">
              <h5 class="top">ADDRESS</h5>  
              <p class="top">Room No.11, Shri Dhara dham society
                krishna nagar, andheri east sakinaka - 400072 
              </p> 
              <ion-label class="top1">Email Id:
                <ion-text><p>sandeepjada456@gmail.com</p></ion-text>
              </ion-label>
              <ion-label class="top1">Phone:
                <ion-text ><p>+91 89766 79638</p></ion-text>
              </ion-label>
            </ion-text>
          </ion-item>
        </ion-col>
        <ion-col class="top1"size="2">
          <ion-label> YOUR NAME:
            <ion-input class="top2" placeholder="Full Name"> </ion-input>
          </ion-label>
        </ion-col>  
        <ion-col class="top1" size="2">
          <ion-label> EMAIL ID:
            <ion-input class="top2" placeholder="Email" type="Email"> </ion-input>
          </ion-label>
        </ion-col>
        <ion-col class="top1" size="2">
          <ion-label> CONTACT NO.:
            <ion-input class="top2" placeholder="Mobile Number" type="number" > </ion-input>
          </ion-label>
        </ion-col>
        <ion-col class="top1" size="2">
          <ion-label> SUBJECT:
            <ion-input class="top2" placeholder="Type here" type="Email"> </ion-input>
          </ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid class="para">
      <ion-row >
        <ion-col offset="3"size="6">
          <ion-label> YOUR CONCERN:
            <ion-textarea rows="10"class="top3" placeholder="Type here" type="text">
            </ion-textarea>
          </ion-label>
          <ion-button color="warning"class="top4"> SEND </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
    <ion-footer>
      <div>
        <ion-toolbar color="dark" class="ion-toolbar">
          <a class="widget" href="https://www.facebook.com/">
            <i><ion-icon ios="logo-facebook" md="logo-facebook" size="large" color="dark"></ion-icon>
            </i>
          </a>
          <a class="widget" href="https://twitter.com/">
          <i><ion-icon ios="logo-twitter" md="logo-twitter" size="large" color="dark"></ion-icon>
          </i>
        </a>
        <a class="widget" href="https://www.instagram.com/">
          <i> <ion-icon ios="logo-instagram" md="logo-instagram" size="large" color="dark"></ion-icon>
          </i>
        </a>
        <a class="widget" href="https://www.instagram.com/">
          <i> <ion-icon ios="logo-linkedin" md="logo-linkedin" size="large" color="dark"></ion-icon>
          </i>
        </a>
      </ion-toolbar>  
    </div>
  </ion-footer>     
</ion-content>



