<ion-app>
  <ion-content>
    <ion-header class="ion-no-border">
    </ion-header>
    <ion-title class="ion-title">CAPTAIN CHAI</ion-title>
    <div class="topnav">
      <a class="active" href="./home">Home</a>
      <a href="./about">About Us</a>
      <a href="./quality">Quality</a>
      <a href="./media">Media</a>
      <a href="./branches">Branches</a>
      <a href="./franchise">Franchise</a>
      <a href="./contact">Contact Us</a>
      <a href="./language">Language</a>
      <ion-button [routerLink]="['/media']">Go to detail</ion-button>
    </div>
    <ion-img class="img"></ion-img>
    <ion-grid class="para">
      <ion-row>
        <ion-col >
          <p>
            district. My father owned two buffaloes. 
            He used to sell their milk to run our household. 
            He was a man of principles. So mixing water i
          </p>
          <p>
            district. My father owned two buffaloes. 
            He used to sell their milk to run our household. 
            He was a man of principles. So mixing water i
          </p>
          <p>
            district. My father owned two buffaloes. 
            He used to sell their milk to run our household. 
            He was a man of principles. So mixing water i
          </p>
        </ion-col>
        <ion-col size="12" size-sm="6">
          <ion-text>
            <p>
                  district. My father owned two buffaloes. 
                  He used to sell their milk to run our household. 
                  He was a man of principles. So mixing water i
                </p>
                <p>
                  district. My father owned two buffaloes. 
                  He used to sell their milk to run our household. 
                  He was a man of principles. So mixing water i
                </p>
                <p>
                  district. My father owned two buffaloes. 
                  He used to sell their milk to run our household. 
                  He was a man of principles. So mixing water i
                </p>
              </ion-text>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-footer>
          <ion-grid class="pad">
            <ion-row size="12">
              <ion-col  size="3" offset="6">
                <ion-item color="dark">
                  <ion-text class="color">
                    <h5 class="top">GET IN TOUCH</h5>  
                    <p class="top">+91 89766 79638</p> 
                    <p>sandeepjada456@gmail.com</p>
                    <p>www.captainchai.com</p>
                  </ion-text>
                </ion-item>
              </ion-col>
              <ion-col>
                <ion-item color="dark">
                  <ion-text class="color">
                    <h5 class="top">ADDRESS</h5>  
                    <p class="top">Room No.11, Shri Dhara dham society
                      krishna nagar, andheri east sakinaka - 400072 
              </p> 
            </ion-text>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-footer>
  <ion-footer>
    <div>
      <ion-toolbar color="dark" class="ion-toolbar">
        <a class="widget" href="https://www.facebook.com/">
          <i><ion-icon ios="logo-facebook" md="logo-facebook" size="large" color="dark"></ion-icon>
          </i>
        </a>
        <a class="widget" href="https://twitter.com/">
          <i><ion-icon ios="logo-twitter" md="logo-twitter" size="large" color="dark"></ion-icon>
          </i>
        </a>
        <a class="widget" href="https://www.instagram.com/">
          <i> <ion-icon ios="logo-instagram" md="logo-instagram" size="large" color="dark"></ion-icon>
          </i>
        </a>
        <a class="widget" href="https://www.instagram.com/">
          <i> <ion-icon ios="logo-linkedin" md="logo-linkedin" size="large" color="dark"></ion-icon>
          </i>
        </a>
      </ion-toolbar>  
    </div>
  </ion-footer>     
</ion-content>
<ion-router-outlet></ion-router-outlet>
</ion-app>

  

